[build-system]
build-backend = "setuptools.build_meta"
requires = [ "setuptools>=80", "wheel" ]

[project]
name = "dataprocessor"
version = "0.0.0"
description = "Helper module to design and run robust and flexible data processing and analysis pipelines."
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.10"
classifiers = [
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: Python :: 3.14",
]
dependencies = [  ]

[tool.setuptools.packages.find]
where = [ "src" ]

[tool.uv]
required-version = ">=0.10.0"

[tool.ruff]
target-version = "py310"
line-length = 120
fix-only = true

lint.select = [ "ALL" ]
lint.ignore = [ "COM812", "D203", "D212" ]
lint.isort.force-single-line = true

[tool.mypy]
check_untyped_defs = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_calls = true
disallow_any_generics = true
ignore_missing_imports = true
no_implicit_optional = true
show_error_codes = true
strict_equality = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
no_implicit_reexport = true
