name: Pre-commit checks and tests.

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  UV_VERSION: "0.10"

jobs:
  linting_and_testing:
    runs-on: 
      - ubuntu-latest
    env:
      UV_PYTHON_PREFERENCE: only-managed

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}

      - name: Install Tox-uv
        run: uv tool install --python $(<.python-version) --with tox-uv tox

      - name: Run Tox
        run: tox
